{% extends "base.html" %} {% block title %}Dashboard{%endblock title%} {% block content %}

<div class="container">
  <div class="row border border-dark">
    <div class="col-4 p-3">
      <div class="card">
        <div class="card-body">
          <p class="card-title border-bottom rounded text-center fw-bold fs-6 font-monospace">Activities submitted this month</p>
          <h3 class="card-text text-center">{{monthly_submissions.count}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
