{%extends 'base.html'%}
{% block title %}Home{% endblock %}


{% block content %}
<div class="row justify-content-center">
    <div class="col">
        <div class="topBar bg-secondary text-center pb-1">
            <h1 class="text-white" >Welcome to the Home Page</h1>
        </div>
        <div class="col-3 col-md-2">
            <div class="sideBar d-flex-coloumn bg-danger text-white">
                <ul>
                    <li>HI</li>
                    <li>HI</li>
                    <li>HI</li>
                    <li>HI</li>
                </ul>
            </div>
        </div>
    </div>

</div>
{% endblock %}