{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap CSS -->
       {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}My Project{% endblock %}</title>
</head>
<body class="bg-light">

<!-- Page Content -->

{% if debug %}
  <script src="{% static 'django_browser_reload/reload.js' %}"></script>
{% endif %}
<div class="container-fluid mt-0 p-0 mx-0 ">
    {% block content %}{% endblock %}
</div>
</body>
</html>
