<form method="post" action="{% url 'submit_activity' %}" enctype="multipart/form-data" class="d-flex flex-column">
    {% csrf_token %}

    <input type="hidden" name="department" value="{{ department }}">
    <input type="hidden" name="month" value="{{ month }}">
    <input type="hidden" name="activityName" value="{{ activityName }}">
    
    <!-- Title -->
    <label for="granttitle" class="form-label">Title of the Grant <span class="text-danger">*</span></label>
    <input type="text" id="granttitle" name="granttitle" class="form-control" required>

    <!-- Resource Person -->
    <label for="fundapplied" class="form-label">Fund Applied in Rs <span class="text-danger">*</span></label>
    <input type="text" id="fundapplied" name="fundapplied" class="form-control" required>

    <!-- Designation & Organization -->
    <label for="agencyname" class="form-label">Name of the funding Agency <span class="text-danger">*</span></label>
    <input type="text" id="agencyname" name="agencyname" class="form-control" required>

    <!-- Phone -->
    <label for="facultyname" class="form-label">Name of the faculty Applied for Funding <span class="text-danger">*</span></label>
    <input type="text" id="facultyname" name="facultyname" class="form-control" required>

    <!-- Email -->
    <label for="fundreceived" class="form-label">Fund Received <span class="text-danger">*</span></label>
    <input type="text" id="fundreceived" name="fundreceived" class="form-control" required>

    <!-- Website URL -->
    <label for="date" class="form-label">Date </label>
    <input type="date" id="date" name="date" class="form-control">
<!-- Website URL -->
    <label for="researchduration" class="form-label">Duration of Research </label>
    <input type="text" id="researchduration" name="researchduration" class="form-control">

    <label for="attachproof1" class="form-label">Attach Proof (Applied / Received Proposal, Utilization certificate if any) <span class="text-danger">*</span></label>
    <input type="file" id="attachproof1" name="attachproof1" class="form-control" required>

    <!-- Submit -->
    <button type="submit" class="btn btn-primary w-50 m-auto d-block mt-3">Submit</button>
</form>