<form method="post" action="{% url 'submit_activity' %}" enctype="multipart/form-data" class="d-flex flex-column">
    {% csrf_token %}

    <input type="hidden" name="department" value="{{ department }}">
    <input type="hidden" name="month" value="{{ month }}">
    <input type="hidden" name="activityName" value="{{ activityName }}">
    
     <!-- Name of Student -->
     <div class="mb-3">
       <label for="studentname" class="form-label">Name of the Student <span class="text-danger">*</span></label>
       <input type="text" id="studentname" name="studentname" class="form-control" placeholder="" required>
     </div>

     <!-- mode -->
     <div class="mb-3">
        <label for="eventtype" class="form-label">Type of the Event <span class="text-danger">*</span></label>
        
        <div class="form-check">
          <input class="form-check-input" type="radio" name="mode" id="flexRadioDefault1" value="Symposium" required>
          <label class="form-check-label" for="flexRadioDefault1">
            Symposium
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="mode" id="flexRadioDefault2" value="Contest">
          <label class="form-check-label" for="flexRadioDefault2">
            Contest
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="mode" id="flexRadioDefault2" value="Conference">
          <label class="form-check-label" for="flexRadioDefault2">
            Conference
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="mode" id="flexRadioDefault2" value="Sports">
          <label class="form-check-label" for="flexRadioDefault2">
            Sports
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="mode" id="flexRadioDefault2" value="Cultural">
          <label class="form-check-label" for="flexRadioDefault2">
            Cultural
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="mode" id="flexRadioDefault2" value="Workshop">
          <label class="form-check-label" for="flexRadioDefault2">
            Workshop
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="mode" id="flexRadioDefault2" value="Other">
          <label class="form-check-label" for="flexRadioDefault2">
            Other:
          </label>
        </div>
      </div>


     <div class="mb-3">
      <label for="eventtitle" class="form-label">Title of the Event <span class="text-danger">*</span></label>
      <input type="text" id="eventtitle" name="eventtitle" class="form-control" required>
     </div>

     <div class="mb-3">
       <label for="organizer" class="form-label">Organizer details <span class="text-danger">*</span></label>
       <input type="text" id="organizer" name="organizer" class="form-control" required>
     </div>

     <div class="mb-3">
      <label for="datefrom" class="form-label">Date (From) <span class="text-danger">*</span></label>
      <input type="date" id="datefrom" name="datefrom" class="form-control" required>
     </div>

     <div class="mb-3">
        <label for="dateto" class="form-label">Date (To) <span class="text-danger">*</span></label>
        <input type="date" id="dateto" name="dateto" class="form-control" required>
     </div>

     <div class="mb-3">
        <label for="mentorname" class="form-label">Name of the Mentor <span class="text-danger">*</span></label>
        <input type="text" id="mentorname" name="mentorname" class="form-control" required>
     </div>

     <!-- Attach Proof -->
     <div class="mb-3">
       <label for="attachproof1" class="form-label">Attach XL sheet(S.No, Faculty name, Title, Date, Place, Prize) <span class="text-danger">*</span></label>
       <input type="file" id="attachproof1" name="attachproof1" class="form-control" required>
     </div>

     <div class="mb-3">
       <label for="attachproof2" class="form-label">Attach Certificate in PDF format in XL sheet order <span class="text-danger">*</span></label>
       <input type="file" id="attachproof2" name="attachproof2" class="form-control" required>
     </div>

     <!-- Submit Button -->
     <div class="d-grid">
       <button type="submit" class="btn btn-success">Submit</button>
     </div>

   </form>
